<section class="ftco-section ftco-hireme img margin-top" style="background-image: url(images/bg_1.jpg)">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7 ftco-animate text-center">
				<h2><span>Birlikte </span>çalışabiliriz</h2>
				<p style="color:wheat; font-weight:600;">Öğrenmeye, gelişmeye ve projelerinize katkı yapmaya hevesli bir şekilde sizinle çalışmaya hazırım!</p>
			</div>
		</div>
	</div>
</section>