@model List<AllProjectsPortfolioViewModel>

@{
    var fileApiUrl = ViewData["FileApiUrl"];
}

<section class="ftco-section ftco-project" id="projects-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="big big-2">Projeler</h1>
                <h2 class="mb-4">Projelerim</h2>
                <p style="color:wheat;">Dahil olduğum veya kendim yürüttüğüm projelere göz atın.</p>
            </div>
        </div>


        <div class="row">
            @if (Model != null && Model.Any())
            {
                @foreach (var project in Model)
                {
                    <div class="col-md-6">
                        <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(@($"{fileApiUrl}/uploads/{project.ImageUrl}"));">
                            <div class="overlay"></div>
                            <div class="text text-center p-4">
                                <h3><a href="#projects-section" style="pointer-events: none;">@project.Description</a></h3>
                                <span>@project.Title</span>
                            </div>
                        </div>
                    </div>
                }
            }
            else if (Model != null && Model.Count == 0)
            {
                <div class="col-12 text-center">
                    <h3 class="mt-5">Şu Anda Proje Bilgisi Bulunmuyor</h3>
                </div>
            }
            else
            {
                <div class="col-12 text-center">
                    <h3 class="mt-5">Şu Anda Proje Bilgilerine Ulaşılamıyor</h3>
                </div>
            }
        </div>
    </div>
</section>