<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
	<div class="container">
		<a class="navbar-brand" href="/">FK</a>
		<button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span> Menü
		</button>

		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav nav ml-auto">
				<li class="nav-item"><a href="/#home-section" class="nav-link"><span>Anasayfa</span></a></li>
				<li class="nav-item"><a href="/#about-section" class="nav-link"><span>Hakkımda</span></a></li>
				<li class="nav-item"><a href="/#resume-section" class="nav-link"><span>Deneyimler</span></a></li>
				<li class="nav-item"><a href="/#services-section" class="nav-link"><span>Eğitimler</span></a></li>
				<li class="nav-item"><a href="/#projects-section" class="nav-link"><span>Projeler</span></a></li>
				<li class="nav-item"><a href="/#blog-section" class="nav-link"><span>Blog Post</span></a></li>
				<li class="nav-item"><a href="/#contact-section" class="nav-link"><span>İletişim</span></a></li>
				<li class="nav-item"><a href="/Auth/Register" class="nav-link"><span>Üyel Ol</span></a></li>
				<li class="nav-item">
					<a href="/User/MyProfile" class="nav-link">
						<i class="fa fa-user" style="font-size: 1.2em; color: #fff;"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>