@model List<AllBlogPostsViewModel>

<div class="container mt-4">
    <h2 class="text-center">Tüm Blog Postlar</h2>
    <table class="table table-bordered table-striped table-responsive-md">
        <thead class="thead-dark">
            <tr>
                <th>Başlık</th>
                <th>Yayınlanma Tarihi</th>
                <th class="text-right">İşlemler</th>
                <th class="text-right">Görünürlük</th>
                <th class="text-right">Görünür Yap / Gizle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <td>@post.Title</td>
                    <td>@post.PublishDate.ToString("dd MMM yyyy")</td>
                    <td class="text-right">
                        <a href="/blog-post-@post.Id" class="btn btn-sm btn-info">İçeriği Görüntüle</a>
                        <a href="/update-blog-post-@post.Id" class="btn btn-sm btn-primary">Düzenle</a>
                        <a href="/delete-blog-post-@post.Id" class="btn btn-sm btn-danger">Sil</a>
                    </td>
                    <td class="text-right">
                       @if(post.IsVisible)
                        {
                            <span>Görünür ✅</span>
                        }
                        else
                        {
                            <span>Gizli ❌</span>
                        }
                    </td>
                    <td class="text-right">
                        @if (post.IsVisible)
                        {
                            <a href="/toggle-visibility/@post.Id?status=hidden" class="btn btn-sm btn-secondary">Gizle</a>
                        }
                        else
                        {
                            <a href="/toggle-visibility/@post.Id?status=visible" class="btn btn-sm btn-success">Görünür Yap</a>
                        }
                        
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
