@model AddExperienceViewModel

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center">Yeni Deneyim Ekle</h2>
            <form action="/add-experience" method="post">
                <div class="form-group">
                    <label asp-for="Title" class="control-label">Başlık</label>
                    <input asp-for="Title" class="form-control" placeholder="Başlık bilgisini buraya yazınız" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Company" class="control-label">Firma</label>
                    <input asp-for="Company" class="form-control" placeholder="Firma bilgisini buraya yazınız" />
                    <span asp-validation-for="Company" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Açıklama</label>
                    <textarea asp-for="Description" rows="4" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger" data-valmsg-replace="true"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="StartDate" class="control-label">Başlangıç Tarihi</label>
                    <input asp-for="StartDate" class="form-control" type="datetime-local" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="EndDate" class="control-label">Bitiş Tarihi</label>
                    <input asp-for="EndDate" class="form-control" type="datetime-local" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary mt-4">Ekle</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
