@model HomeIndexViewModel

@if (TempData["Message"] is not null)
{
    <div class="alert custom-alert-success mt-5">
        @TempData["Message"]
    </div>
}

@if (TempData["ErrorMessage"] is not null)
{
    <div class="alert custom-alert-error  mt-5">
        @TempData["ErrorMessage"]
    </div>
}

<partial name="Partials/HomeSection.cshtml" model="Model.AboutMe">

    <partial name="Partials/AboutSection.cshtml" model="Model.PersonalInfo">

        <partial name="Partials/ExperiencesSection.cshtml" model="Model.Experiences">

            <partial name="Partials/EducationsSection.cshtml" model="Model.Educations">

                <partial name="Partials/SkillsSection.cshtml">

                    <partial name="Partials/ProjectsSection.cshtml" model="Model.Projects">

                        <partial name="Partials/BlogSection.cshtml" model="Model.BlogPosts">

                            <partial name="Partials/HireMeSection.cshtml">

                                <partial name="Partials/ContactSection.cshtml" model="Model.ContactMessage">

                                    @section Styles {
                                        <style>

                                            .custom-alert-success {
                                                position: fixed; /* Sayfada sabit konumlandırma */
                                                top: 50px; /* Ekranın üst kısmından 10px boşluk */
                                                left: 50%; /* Ekranın ortasına hizalama */
                                                transform: translateX(-50%); /* Ortalamak için translate */
                                                z-index: 1000; /* Diğer elementlerin üstünde görünmesini sağlar */
                                                background-color: #dff0d8;
                                                color: #3c763d;
                                                padding: 10px 20px;
                                                border-radius: 5px;
                                                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                                            }

                                            .custom-alert-error {
                                                position: fixed; /* Sayfada sabit konumlandırma */
                                                top: 50px; /* Ekranın üst kısmından 10px boşluk */
                                                left: 50%; /* Ekranın ortasına hizalama */
                                                transform: translateX(-50%); /* Ortalamak için translate */
                                                z-index: 1000; /* Diğer elementlerin üstünde görünmesini sağlar */
                                                background-color: #f8d7da;
                                                color: #721c24;
                                                padding: 10px 20px;
                                                border-radius: 5px;
                                                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                                            }

                                        </style>
                                    }


                                    @section Scripts {
                                        <partial name="_ValidationScriptsPartial" />
                                    }
