@model HomeIndexViewModel

@{
    ViewData["AboutMeImageUrl"] = Model.AboutMe != null && !string.IsNullOrEmpty(Model.AboutMe.ImageUrl1)
    ? Model.AboutMe.ImageUrl1
    : "furkan-kaptan.png";

    ViewData["Link"] = Model.PersonalInfo != null && !string.IsNullOrEmpty(Model.PersonalInfo.Link) 
    ? Model.PersonalInfo.Link 
    : "https://www.linkedin.com/in/furkan-kaptan-0b5339258/";

    ViewData["Email"] = Model.PersonalInfo != null && !string.IsNullOrEmpty(Model.PersonalInfo.Email)
           ? Model.PersonalInfo.Email
           : "iamfurkan86@gmail.com";
}

@{
    if (TempData["SuccessMessage"] is not null)
    {
        <div class="alert custom-alert-success mt-5">
            @TempData["SuccessMessage"]
        </div>
    }

    if (TempData["Message"] is not null)
    {
        <div class="alert custom-alert-success mt-5">
            @TempData["Message"]
        </div>
    }

    if (TempData["ErrorMessage"] is not null)
    {
        <div class="alert custom-alert-error mt-5">
            @TempData["ErrorMessage"]
        </div>
    }
}

<partial name="Partials/HomeSection.cshtml" model="Model.AboutMe"/>

<partial name="Partials/AboutSection.cshtml" model="Model.PersonalInfo"/>

<partial name="Partials/ExperiencesSection.cshtml" model="Model.Experiences" />

<partial name="Partials/EducationsSection.cshtml" model="Model.Educations" />

<partial name="Partials/ProjectsSection.cshtml" model="Model.Projects" />

<partial name="Partials/BlogSection.cshtml" model="Model.BlogPosts" />

<partial name="Partials/HireMeSection.cshtml" />

<partial name="Partials/ContactSection.cshtml" model="Model.ContactMessage" />

<style>

    .custom-alert-success {
        position: fixed; /* Sayfada sabit konumlandırma */
        top: 10px; /* Ekranın üst kısmından 10px boşluk */
        left: 50%; /* Ekranın ortasına hizalama */
        transform: translateX(-50%); /* Ortalamak için translate */
        z-index: 1000; /* Diğer elementlerin üstünde görünmesini sağlar */
        background-color: wheat; /* Arka plan rengi */
        color: #6b4f3a; /* Yazı rengi (daha koyu bir ton) */
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .custom-alert-error {
        position: fixed; /* Sayfada sabit konumlandırma */
        top: 10px; /* Ekranın üst kısmından 10px boşluk */
        left: 50%; /* Ekranın ortasına hizalama */
        transform: translateX(-50%); /* Ortalamak için translate */
        z-index: 1000; /* Diğer elementlerin üstünde görünmesini sağlar */
        background-color: #f8d7da;
        color: #721c24;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

</style>
